.line1 {
	width: 300px;
	height: 1px;
	border-bottom: 1px solid var(--blue-line);
	-webkit-transform:
		 translateY(40px)
		 translateX(-50px)
		 rotate(-45deg);
	position: absolute;
}
.line2 {
	width: 500px;
	height: 1px;
	border-bottom: 1px solid var(--blue-line);
	-webkit-transform:
		 translateY(80px)
		 translateX(-80px)
		 rotate(-45deg);
	position: absolute;
}